* {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

html, body {
	font-family: 'Montserrat', sans-serif;
	margin: 0;
	min-width: 320px;
}

.header-wrap {
    background: -webkit-gradient(linear, left top, right top, color-stop(50%, black), color-stop(50%, white));
    background: linear-gradient(to right, black 50%, white 50%);
    width: 100%;
}

.header__nav {
    background: linear-gradient(to right, black 461px, white 461px);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin: 0 auto;
    padding-bottom: 75px; 
    width: 100%;
}

.header__menu {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
	width: 100%;
}

.header__menu-burger {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 92px;
	height: 92px;
	background: #F2F2F2;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}


.header-blackside {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	width: 40%;		
}

.header-blackside__logo,
.header__lang,
.first-page__btn-next,
.second-page__subtitle,
.page-link,
.third-page__subtitle {
	text-transform: uppercase;
}

.header-blackside__logo {
    color: #FFF;
    cursor: pointer;
	font-style: normal;
	font-weight: 500;
	font-size: 30px;
	line-height: 37px;
	letter-spacing: .07em;
    text-decoration: none;
    margin: 0;
	padding: 23px 0 0 52px;
}

.header-blackside__language {
    cursor: pointer;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	text-align: center;
	margin: 0;
	padding-top: 23px;
}

.header__lang {
    background: transparent;
    border: none;
    color: #FFF;
    cursor: pointer;
	font-weight: 500;
    font-size: 20px;
    text-align: right;
    padding: 0;
	
}

.header__lang_arrow {
	background: transparent;
	border: none;
}